configuration {
  modi: "drun,run,window";
  show-icons: true;
  terminal: "alacritty";
  drun-display-format: "{icon} {name}";
  location: 0;
  disable-history: false;
  hide-scrollbar: true;
  display-drun: "   Apps ";
  display-run: "   Run ";
  display-window: " 﩯  Window";
  display-Network: " 󰤨  Network";
  sidebar-mode: true;
}

window {
  width: 1000px;
  border: 2px;
  border-color: #cba6f7;
  border-radius: 10px;
  background-color: #1e1e2e;
}

mainbox {
  background-color: transparent;
}

inputbar {
  children: [prompt,entry];
  background-color: transparent;
  border-radius: 5px;
  padding: 2px;
}

prompt {
  background-color: #cba6f7;
  padding: 6px;
  text-color: #1e1e2e;
  border-radius: 8px;
  margin: 20px 0px 0px 20px;
}

textbox-prompt-colon {
  expand: false;
  str: ":";
}

entry {
  padding: 6px;
  margin: 20px 0px 0px 10px;
  text-color: #cba6f7;
  background-color: #1e1e2e;
}

listview {
  border: 0px 0px 0px;
  padding: 6px 0px 0px;
  margin: 10px 0px 0px 20px;
  columns: 2;
  background-color: transparent;
}

element {
  padding: 5px;
  background-color: transparent;
  text-color: #cba6f7;
}

element-icon {
  size: 25px;
}

element selected {
  text-color: #1e1e2e;
  background-color: #cba6f7;
  border-radius: 8px;
}

element-text {
  background-color: transparent;
  text-color: inherit;
  vertical-align: 0.5;
}

element-text selected {
  background-color: transparent;
}
