name: build
on:
  push:
  workflow_call:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Check NixOS configurations
  nixos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - id: get-configs
        name: Get NixOS configurations
        run: |
          configs=$(nix eval --json .#nixosConfigurations --apply builtins.attrNames)
          echo "configs=$configs" >> $GITHUB_OUTPUT
    outputs:
      configs: ${{ steps.get-configs.outputs.configs }}

  build-nixos:
    needs: nixos
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJson(needs.nixos.outputs.configs) }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - uses: cachix/cachix-action@v15
        with:
          name: romaingrx-dotfiles
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build ${{ matrix.config }}
        run: |
          echo "Building NixOS configuration: ${{ matrix.config }}"
          nix build .#nixosConfigurations.${{ matrix.config }}.config.system.build.toplevel --print-build-logs

  # Check Darwin configurations
  darwin:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - id: get-configs
        name: Get Darwin configurations
        run: |
          configs=$(nix eval --json .#darwinConfigurations --apply builtins.attrNames)
          echo "configs=$configs" >> $GITHUB_OUTPUT
    outputs:
      configs: ${{ steps.get-configs.outputs.configs }}

  build-darwin:
    needs: darwin
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJson(needs.darwin.outputs.configs) }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - uses: cachix/cachix-action@v15
        with:
          name: romaingrx-dotfiles
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build ${{ matrix.config }}
        run: |
          echo "Building Darwin configuration: ${{ matrix.config }}"
          nix build .#darwinConfigurations."${{ matrix.config }}".system --print-build-logs
